:root {
    --red: #b00;
    --blue: #00b;
    --fullwidth: 100%;
    --accent:#000;
    --menu-colour:#f1f1f1;
  }
 
 
  body{
      width:100%;
      font-family: 'Montserrat', sans-serif;
      background-color:var(--menu-colour);
      margin:0;
  }
  h1 {
    color: var(--red);
  }
  #MyText {
    color: var(--blue);
    width: var(--fullwidth);
  }
  


/*  burger menu */

*,
*:before,
*:after {
  box-sizing: border-box;
}
.hamburger {
  -webkit-transform: scale(1);
  transform: scale(1);
  position: fixed;
  right:20px;
  bottom:20px;
  display: block;
  width: 68px;
  height: 68px;
  border-radius:50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow:hidden;
  z-index:4;
}

.burger-main {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-inner {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-main span {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #fff;
}

.burger-main .top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-main .bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

.burger-main .mid {
  top: 12px;
}

.svg-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.circle {
  width: 68px;
  height: 68px;
  overflow:hidden;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

.hamburger.open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.open .top {
  animation: close-top-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.open .bot {
  animation: close-bot-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.closed .top {
  animation: close-top-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.closed .bot {
  animation: close-bot-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.open .mid {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.closed .mid {
  animation: burger-fill-in 0.6s linear normal;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  -webkit-mask-box-image: url(http://dev.awsm.in/codepen/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: #fff;
}

.hamburger.open .animate-path {
  animation: circle-in 0.6s linear normal;
  animation-fill-mode: forwards;
}

.hamburger.closed .animate-path {
  animation: circle-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
/* /burger menu */
/*  burger animations */
@-webkit-keyframes dash-in {
  0% {stroke-dashoffset: 240;}
  40% {stroke-dashoffset: 240;}
  100% {stroke-dashoffset: 0;}
}

@keyframes dash-in {
  0% {stroke-dashoffset: 240;}
  40% {stroke-dashoffset: 240;}
  100% {stroke-dashoffset: 0;}
}

@-webkit-keyframes dash-out {
  0% {stroke-dashoffset: 0;}
  40% {stroke-dashoffset: 240;}
  100% {stroke-dashoffset: 240;}
}

@keyframes dash-out {
  0% {stroke-dashoffset: 0;}
  40% {stroke-dashoffset: 240;}
  100% {stroke-dashoffset: 240;}

}

@keyframes close-top-out {
  0% {left: 0;
    top: 0;
    transform: rotate(0deg);
  }

  20% {left: 0;
    top: 0;
    transform: rotate(15deg);
  }

  80% {left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }

  100% {left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }

}

@keyframes close-bot-out {
  0% {left: 0;
    transform: rotate(0deg);
   }

  20% {left: 0;
    transform: rotate(-15deg);
  }

  80% {left: -5px;
    transform: rotate(60deg);
  }

  100% {left: -5px;
    transform: rotate(45deg);
  }

}

@keyframes close-top-in {
  0% {left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }

  20% {left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }

  80% {left: 0;
    bot: 0;
    transform: rotate(15deg);
  }

  100% {left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }

}

@keyframes close-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }

}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  80% {
    width: 36px;
    left: -6px;
  }

  100% {
    width: 36px;
    left: 0px;
  }

}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }

  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }

}
@keyframes circle-out {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }

}


@keyframes circle-in {
  0% {
    transform: rotate(360deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }

}
/* /burger animations */
/*  slideout*/


.logo{
  width:50%;
}
.logosvg{
  fill:var(--menu-colour);
}
.mobile-list{
  display: flex; 
  flex-direction: column;
  margin-top: 20vh;
}
.slideout{
    width:80%;
    height: 100vh;
    position:fixed;
    z-index:2;
    transition: 0.2s ease-in-out;
    top:0;
}
.slideout.closed{
right:-80%;
}
.mobile-nav{
    position: fixed;
}

.slideout.open{
    right:0;
}
.slideout-canvas{
    position:absolute;
    right:0;
    width:100%;
  }
  .slideout-canvas svg.canvas{
    height:100vh;
  }
  .slideout-canvas nav{
    position:absolute;
    right:0;
    text-align:left;
    padding:20px;
    width:100%;
  }
  
  .slideout-canvas ul{
    padding-left: 10vw;
    list-style:none;
    font-size:8vw;
    font-weight: 900;
    line-height: 2em;
  }

  .slideout-canvas ul a, .desktop-nav a{
    color:var(--menu-colour);
    
  }
  

/* /slideout*/
/*  desktop nav*/
.desktop-nav{
  display:none;
  /*height: 70px;*/
}
.desktop-nav ul.desktop-list{
  /*display:inline-block;*/
  list-style: none;
  float:right; 
  margin:0;
  color:var(--menu-colour);
  font-size: 20px;
}
.desktop.logo{
  padding:10px;
}
.desktop-nav .logo{
  max-width:120px;
  display:inline-block;
}
.desktop-nav .desktop-list li{
  float:left;
  padding:18px;
}
.desktop-nav .desktop-list li.social{
  padding:18px 10px;
}
/* /desktop nav*/
/*  desktop general*/
.container{
  max-width: 1200px;
  margin:auto;
}
/* /desktop general*/

/*  gradients */
.moving-gradient{background: linear-gradient(270deg, #2d4196, #a03673, #784BA0 );
    background-size: 1000% 1000%;
    
    -webkit-animation: AnimationName 300s ease infinite;
    -moz-animation: AnimationName 300s ease infinite;
    animation: AnimationName 300s ease infinite;}
  
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
/* /gradients */

/*  breakpoints 600px, 900px, 1200px, and 1800px*/
/*tablet  @media only screen and (min-width: 1200px){
@media only screen and (min-width: 600px){
  .slideout-canvas ul{
    font-size:28px;
  }
} */

  @media only screen and (min-width: 1200px){
    .mobile-nav{
        display:none;
    }
    .desktop-nav{
      display:block;
    }
} 
/* /breakpoints */